.logo {
  color          : white;
  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
  align-items    : center;
  gap            : 10px;
  margin-top     : 20px;
  padding        : 20px;

  span {
    font-size  : 20px;
    font-weight: bolder;
  }
}

.form-space {
  width          : 100%;
  height         : 80%;
  color          : white;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  gap            : 10px;
}

.form-space .form-title {
  font-size  : 42px;
  font-weight: bolder;

  span {
    background-image: linear-gradient(45deg, #4F3CE4 14.64%, #00A0F5 50.01%, #1FD9C1 85.36%);
    ;
    background-clip        : text;
    -webkit-text-fill-color: transparent;
  }
}

.form-space .form-content {
  width         : 80%;
  display       : flex;
  flex-direction: column;
  gap           : 15px;
}

.form-space .form-content .other-login {
  width          : 100%;
  margin-top     : 20px;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  gap            : 20px;
}

.form-space .tip {
  font-size: 12px;
}

.form-space .tip a {
  color          : hsl(201, 100%, 48%);
  text-decoration: none;
}

.login-pill {
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 80%;
  cursor          : pointer;
  font-size       : 14px;
  height          : 42px;
  line-height     : 42px;
  text-align      : center;
  border-radius   : 80px;
  background-color: hsla(0, 0%, 100%, 0.08);
}

.login-pill:hover {
  background-color: #161616;
}